.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}

.sp-br {
  display: none;
}

@media screen and (max-width: 640px) {
.sp-br {
  display: block;
}