/* COMMON */
/* ============================================ */
* {
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(34, 34, 34);
}
a:hover {
  color: #10cc00;
  transition: ease-in-out 0.2s;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.fl-start {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.fl-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fl-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.fl-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid {
  display: grid;
}

/* index.html */
/* ============================================ */

/* FIRSTVIEW */
.firstview__wrapper {
  background-color: rgb(221, 228, 232);
  overflow: hidden;
}
.first-view {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  max-height: 680px;
  margin: 0px auto;
  background-image: url("../images/firstview.png");
  background-position: center center;
}
.catchcopy {
  padding: 254px 0px 235px 130px;
}
.catchcopy__sm {
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 22px;
  letter-spacing: 0.1em;
  position: relative;
}
.catchcopy__md {
  position: relative;
  font-family: "Noto Sans JP";
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.2em;
}
.catchcopy__lg {
  font-family: Barlow;
  font-size: 10rem;
  font-weight: 100;
  margin-top: 21px;
  z-index: 100;
}
.first-view-angle {
  display: block;
  width: 3600px;
  height: 900px;
  position: absolute;
  mix-blend-mode: multiply;
  background-image: url("../images/first-view-angle.png");
}

/* NOTICE */
.notice {
  padding: 80px 0px 40px;
}
.notice-list__wrapper {
  position: relative;
}
.notice-list {
  border-bottom: 1px solid rgb(221, 228, 232);
  padding: 0px 10px;
}
.notice-list__item {
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}
.notice-list__item + .notice-list__item {
  border-top: 1px solid rgb(221, 228, 232);
  padding: 20px 0px;
}
.notice-list__time {
  font-family: Barlow;
  font-size: 1.5rem;
  font-weight: 600;
}
.notice-list__tag {
  width: 80px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(16, 204, 0);
  border: 1px solid rgb(16, 204, 0);
  border-radius: 10px;
  padding: 5px 0px;
  margin-left: 40px;
}
.notice-list__text {
  font-size: 1.3rem;
  width: 502px;
  margin-left: 20px;
  line-height: 1.7;
}
.notice-all-list {
  position: absolute;
  bottom: -24px;
  right: 0px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(16, 204, 0);
}

/* INFO */
.info {
  padding: 40px 0px 150px;
}
.info-list {
}
.info-list-item {
  width: 294px;
}
.info-list-item__block {
}
.info-list-item__card {
  letter-spacing: 0.1em;
  display: block;
}
.info-list-item__img {
}
.info-list-item__title {
  font-size: 2.2rem;
  margin-top: 27px;
}
.info-list-item__title--sub {
  font-family: Barlow;
  font-size: 1.2rem;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 20px;
}
.info-list-item__text {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-top: 20px;
}

/* VISION */
.vision {
  position: relative;
  background-color: rgb(245, 247, 248);
  letter-spacing: 0.1em;
  padding: 88px 0px 0;
  z-index: 1;
}
.vision__bg-wrapper {
  overflow-x: clip;
}
.vision__bg {
  position: absolute;
  width: 1480px;
  height: 640px;
  background-image: url("../images/bg_vision.png");
  background-repeat: no-repeat;
  top: -144px;
  left: 220px;
  z-index: -1;
}
.vision__inner {
  position: relative;
  z-index: 100;
}
.vision__bg::after {
  position: absolute;
  background-image: url("../images/bg_vision.png");
  background-repeat: no-repeat;
  background-size: 1280px;
  background-position: right -300px top -143px;
}
.vision__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.vision__catch {
  font-size: 4rem;
  margin-top: 24px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
.vision__message-box {
  margin-top: 32px;
}
.vision__message {
  font-size: 1.5rem;
}
.vision__message + .vision__message {
  margin-top: 12px;
}
.vision__about-link {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  margin-top: 64px;
  padding: 22px 166px 22px 30px;
}
.vision__about-link::after {
  content: url("../images/arrow.svg");
  position: absolute;
  right: 20px;
}

/* COMPANY */
.company {
  padding: 220px 0 120px;
  background-color: #f4f7f8;
  letter-spacing: 0.1em;
}
.company__inner {
  width: 1080px;
  margin: 0 auto;
}
.company__heading {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.company__heading-en {
  font-family: "Barlow";
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}
.company__list {
  margin-top: 40px;
}
.company__list-item {
  width: 530px;
  margin-bottom: 20px;
}
.company__card {
}
.company__card-link {
}
.company__card-img {
}
.company__card-body {
  background-color: #fff;
  padding: 40px;
}
.company__card-text {
  position: relative;
}
.company__card-text::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url(../images/icon_group-company-arrow.svg);
  background-color: #10cc00;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
.company__card-company-name {
  font-size: 1.8rem;
}
.company__card-company-about {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* COMNTACT */
.contact {
  padding: 88px 0 80px;
}
.contact.bg-gray {
  background-color: #f5f7f8;
}
.contact__heading {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.contact__inner {
  width: 660px;
  margin: 0 auto;
}
.contact__list {
  margin-top: 44px;
  display: flex;
  flex-wrap: nowrap;
}
.contact__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  text-align: center;
  background-color: #222;
  padding: 18px 58px;
}
.contact__card {
}
.contact__catd-link {
  letter-spacing: 0.1em;
}
.contact__card-device {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1em;
}
.contact__card-info {
  font-family: "Barlow";
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  margin-top: 13px;
  letter-spacing: 0.1em;
}
.contact__card-info--tel {
  position: relative;
  padding-left: 26px;
}
.contact__card-info--tel::before {
  position: absolute;
  content: url(../images/icon_tel.svg);
  width: 24px;
  height: 24px;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.contact__card-subinfo {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-top: 4px;
  letter-spacing: 0.1em;
}
.contact__card-info--mail {
  position: relative;
  padding-left: 28px;
  font-size: 1.8rem;
}
.contact__card-info--mail::before {
  position: absolute;
  content: url(../images/icon_mail.svg);
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* case-list.html */
/* ============================================ */

/* PAGE-INFO-BLOCK */
.page-info-block {
}
.breadcrumb-list__wrapper {
}
.breadcrumb-list {
  letter-spacing: 0.1em;
  flex-wrap: wrap;
}
.breadcrumb-list__item {
}
.breadcrumb-list__item::after {
  content: "〉";
}
.breadcrumb-list__item:last-child {
  font-size: 2.8rem;
  flex-basis: 100%;
  margin-top: 18px;
}
.breadcrumb-list__item:last-child::after {
  content: "";
}
.breadcrumb-list__item + .breadcrumb-list__item {
}

.breadcrumb-list__link {
  font-size: 1rem;
  font-weight: 500;
}
.page-title {
  font-family: "Barlow";
  font-size: 6.6rem;
  font-weight: 100;
  letter-spacing: 0.05em;
}

/* CASES */
.cases {
  padding: 85px 0 120px;
}
.cases__form {
}
.cases__filter-wrapper {
  position: relative;
}
.cases__filter-wrapper::after {
  content: url(../images/icon_filter-arrow.svg);
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-48%);
}
.cases__filter-wrapper + .cases__filter-wrapper {
  margin-left: 20px;
}
.cases__filter {
  font-size: 1.3rem;
  padding: 12px 21px;
  border: 1px solid #222;
  border-radius: 30px;
  width: 150px;
}
.cases__option {
}
.cases-list {
  grid-template-columns: repeat(2, 470px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
}
.cases-list__item {
  position: relative;
  border: 1px solid #dde4e8;
}
.cases-list__block {
}
.cases-list__link {
  align-items: center;
  padding: 20px;
}
.cases-list__img {
}
.cases-list__body {
  margin-left: 20px;
}
.cases-list__body::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url(../images/icon_group-company-arrow.svg);
  background-color: #10cc00;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 20px;
  right: 20px;
}
.cases-list__number {
  font-family: "Barlow";
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #10cc00;
}
.cases-list__name {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
.cases-list__text-small {
  font-size: 1.3rem;
}
.cases-list__place {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin-top: 17px;
}
.cases-list__type {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin-top: 8px;
}

/* NEWS */
.news {
  padding: 86px 0 126px;
}
.new__container {
  align-items: flex-start;
}
.news-list {
  position: relative;
  grid-template-columns: repeat(2, 300px);
  column-gap: 40px;
  row-gap: 46px;
  padding-bottom: 86px;
}
.news-list__item {
}
.news-list__block {
}
.news-list__link {
}
.news-list__img-wrapper {
  position: relative;
}
.news-list__img-wrapper::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url(../images/icon_group-company-arrow.svg);
  background-color: #10cc00;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 12px;
  right: 12px;
}
.news-list__img {
}
.news-list__body {
}
.news-list__subinfo {
  align-items: center;
  margin-top: 23px;
}
.news-list__day {
  font-family: "Barlow";
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.news-list__type {
  font-size: 1rem;
  font-weight: 500;
  color: #10cc00;
  letter-spacing: 0.1em;
  border: 1px solid #10cc00;
  padding: 5px 18px;
  border-radius: 20px;
}
.news-list__text {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  margin-top: 15px;
  line-height: 1.7;
}
.news-list__pager {
  bottom: 0;
}
.news-list__pager.news-list__pager--left {
  position: absolute;
  left: 0;
}
.news-list__pager.news-list__pager--left::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../images/icon_news-list-arrow-left.svg);
  width: 24px;
  height: 24px;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}
.news-list__pager.news-list__pager--right {
  position: absolute;
  right: 0;
}
.news-list__pager.news-list__pager--right::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../images/icon_news-list-arrow-right.svg);
  width: 24px;
  height: 24px;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
}
.news-list__pager-link {
  position: relative;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  align-items: center;
}
.news-list__pager.news-list__pager--left .news-list__pager-link {
  padding-left: 20px;
}
.news-list__pager.news-list__pager--right .news-list__pager-link {
  padding-right: 20px;
}
.news-sidebar {
  width: 100%;
  margin-left: 120px;
}
.news-sidebar__list-wrapper {
  padding-top: 26px;
  border-top: 1px solid #dde4e8;
  letter-spacing: 0.1em;
}
.news-sidebar__list-wrapper + .news-sidebar__list-wrapper {
  margin-top: 40px;
}
.news-sidebar__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.news-sidebar__list {
  margin-top: 26px;
  list-style-type: disc;
  list-style-position: inside;
}
.news-sidebar__list-item {
  color: #10cc00;
}
.news-sidebar__list-item + .news-sidebar__list-item {
  margin-top: 8px;
}
.news-sidebar__link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
}

/* PRODUCTS-LIST */
.products {
  padding: 80px 0 120px;
}
.products__category-block {
}
.products__category-block + .products__category-block {
  margin-top: 120px;
  padding-top: 130px;
  border-top: 1px solid #dde4e8;
}
.products__category-name {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.products__category-desc {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-top: 27px;
}
.products__list-wrapper {
  margin-top: 87px;
}
.products__list-subcategory {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #222;
  padding-bottom: 6px;
  margin-bottom: 40px;
  display: inline-block;
}
.products__list {
  grid-template-columns: repeat(2, 450px);
  column-gap: 60px;
  row-gap: 60px;
  margin-bottom: 124px;
}
.products__list:last-of-type {
  margin-bottom: 0px;
}
.products__list-item {
}
.products__card {
}
.products__card-img-wrapper {
  position: relative;
  background: linear-gradient(to bottom, #f2f3f9 0%, #fafafc 100%);
}
.products__card-link {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url(../images/icon_group-company-arrow.svg);
  background-color: #10cc00;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 12px;
  right: 12px;
}
.products__card-img {
}
.products__card-body {
  letter-spacing: 0.1em;
  margin-top: 26px;
}
.products__card-name {
  font-size: 1.5rem;
}
.products__card-name--lg {
  font-family: "Barlow";
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-right: 4px;
}
.products__card-desc {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-top: 18px;
}
.products__card-pdf-textbox {
  align-items: center;
  margin-top: 22px;
}
.products__card-pdf-tag {
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #222;
  padding: 4px 8px;
}
.products__card-pdf-text {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin-left: 10px;
}
.products__card-pdf-link {
  font-size: 1.2rem;
  text-decoration: underline;
}

/* company.html */
.company__greeting {
  padding: 80px 0 86px;
}
.company__container {
  grid-template-columns: 200px auto;
}
.company__section-title-wrapper {
}
.company__section-title {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: 1px solid #222;
}
.company__text {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.company__text + .company__text {
  margin-top: 30px;
}
.company__text.company__text--accent {
  color: #10cc00;
}
.company__vision {
  background-color: #f5f7f8;
  padding: 80px 0 86px;
}
.company__vision-body {
  align-items: flex-start;
}
.company__vision-textbox {
  width: 440px;
}
.company__vision-img {
}
.company__info {
  padding: 80px 0;
}
.company__info-table-wrapper {
  border-bottom: 1px solid #dde4e8;
}
.company__info-table {
  letter-spacing: 0.1em;
  align-items: inherit;
}
.company__info-table-title {
  font-size: 1.2rem;
  width: 200px;
  padding: 14px 0 14px 20px;
  background-color: #f5f7f8;
  border-top: 1px solid #dde4e8;
}
.company__info-table-content {
  font-size: 1.2rem;
  padding: 14px 0 14px 20px;
  border-top: 1px solid #dde4e8;
  margin-left: 10px;
  width: 100%;
}
.company__info-table-text {
}
.company__info-table-text + .company__info-table-text {
  margin-top: 8px;
}
.company__info-table-text.company__info-table-text--icon::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #10cc00;
  border-radius: 50%;
  margin-right: 4px;
}
.company__info-map-block {
  margin-top: 44px;
}
.company__info-map-name {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
.company__info-map {
  margin-top: 23px;
}
.company__history {
  background-color: #f5f7f8;
  padding: 80px 0 86px;
}
.company__history-body {
  grid-template-columns: max-content auto;
  column-gap: 40px;
  row-gap: 15px;
}
.company__history-text-block {
}
.company__history-text-block + .company__history-text-block {
  margin-top: 10px;
}
.company__history-textbox {
}
.company__history-text {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
.company__history-text + .company__history-text {
  margin-top: 10px;
}

/* privacy.html */
.privacy {
  padding: 80px 0 86px;
}
.privacy__container {
  grid-template-columns: 200px auto;
}
.privacy__container + .privacy__container {
  margin-top: 86px;
}
.privacy__section-title-wrapper {
}
.privacy__section-title {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: 1px solid #222;
}
.privacy__text {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.privacy__text-list {
  list-style-type: auto;
  list-style-position: inside;
  margin-top: 30px;
}
.privacy__text-list-item {
}
.privacy__column {
  flex-wrap: nowrap;
  align-items: center;
  padding: 37px;
  margin-top: 48px;
  border: 1px solid #10cc00;
}
.privacy__column-heading {
  font-family: "Barlow";
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #10cc00;
}
.privacy__column-text {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  margin-left: 35px;
  line-height: 1.7;
}
.privacy__contact-btn {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 18px 46px;
  margin-top: 27px;
  border: 1px solid #222;
  display: inline-block;
}
.privacy__contact-btn:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
}

/* prowork.html */
.firstview__wrapper.firstview__wrapper--prowork {
  overflow: unset;
}
.first-view.first-view--prowork {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  max-height: 680px;
  margin: 0px auto;
  background-image: url("../images/prowork_firstview.png");
  background-position: center center;
  position: relative;
}
.prowork__catchcopy-wrapper {
  position: absolute;
  max-width: 50%;
  background-color: #fff;
  padding: 60px 128px 54px 170px;
  border-radius: 0 120px 120px 0;
  bottom: -108px;
}
.prowork__catchcopy {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
.prowork__catchcopy-sub {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-top: 20px;
}
.prowork-service {
  background-color: #f5f7f8;
  padding-top: 190px;
}
.prowork-service__block {
  position: relative;
}
.prowork-service__textbox {
  max-width: 400px;
  padding-bottom: 90px;
}
.prowork-service__title {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.prowork-service__desc {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-top: 20px;
}
.prowork-service__img {
  position: absolute;
  top: -45px;
  right: 0;
}
.prowork-company-info {
  padding: 187px 0 120px;
}
.prowork-company-info__container {
  max-width: 780px;
  margin: 0 auto;
}
.prowork-company-info__section-heading {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}
.prowork-company-info__section-heading-en {
  font-family: "Barlow";
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 15px;
}
.company__info-body--prowork {
  margin-top: 40px;
}

/* PARTS */
/* ============================================ */

/* body */
body {
  position: relative;
  overflow-x: clip;
}
.top-angle__wrapper {
  overflow: hidden;
}
.top-angle {
  display: block;
  width: 3600px;
  height: 900px;
  position: absolute;
  mix-blend-mode: multiply;
  background-image: url(../images/first-view-angle.png);
  left: -80px;
  z-index: -1;
  overflow: hidden;
}

/* HEADER */
.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.header.js-scroll {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  box-shadow: 4px 4px 12px 0px rgb(17 68 136 / 12%);
}
.header__body {
  width: 1120px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 40px;
  align-items: center;
  overflow: hidden;
  box-shadow: 4px 4px 12px 0px rgb(17 68 136 / 12%);
}
.header.js-scroll .header__body {
  border-radius: 0;
  box-shadow: none;
}
.header__company-name {
  padding-left: 40px;
}
.header.js-scroll .header__company-name {
  padding: 7px 0;
}
.header__company-subname {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.25em;
}
.header__company-mainname {
  font-family: "Barlow";
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.015em;
  margin-top: 8px;
}
.header__global-nav {
}
.header__global-nav-list {
}
.header__global-nav-list-item {
}
.header__global-nav-list-item + .header__global-nav-list-item {
  margin-left: 30px;
}
.header__global-nav-list-item + .header__global-nav-list-item.header__global-nav-list-item--last {
}
.header__global-nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.header__global-nav-list-item
  + .header__global-nav-list-item.header__global-nav-list-item--last
  .header__global-nav-link {
  display: block;
  color: #fff;
  background-color: #222;
  padding: 42px 35px;
}
.header.js-scroll
  .header__global-nav-list-item
  + .header__global-nav-list-item.header__global-nav-list-item--last
  .header__global-nav-link {
  padding: 13px 24px;
  border-radius: 20px;
}

/* MAIN */
.main {
}
.main.main--under-layer {
  padding-top: 200px;
}

/* FOOTER */
.footer {
  letter-spacing: 0.1em;
  position: relative;
}
.footer-catch {
  height: 1000px;
  overflow: hidden;
}
.footer__bg {
  background-image: url(../images/bg_footer.png);
  height: 360px;
  background-position-x: center;
  background-color: #f5f7f8;
}
.footer__bg.footer__bg--white {
  background-color: #fff;
}
.footer-catch__inner {
  width: 1080px;
  margin: 0 auto;
}
.fotter-catch__block {
}
.footer-catch__text {
  font-family: "Barlow";
  font-size: 10rem;
  font-weight: 100;
}
.footer-catch__angle-wrapper {
  position: relative;
}
.footer-catch__angle {
  position: absolute;
  display: block;
  mix-blend-mode: multiply;
  transform: translateY(-20px);
}
.footer-catch__angle.footer-catch__angle01 {
  background-image: url(../images/footer-catch_angle01.png);
  width: 3640px;
  height: 2114px;
  left: 8px;
}
.footer-catch__angle.footer-catch__angle02 {
  background-image: url(../images/footer-catch_angle02.png);
  width: 4580px;
  height: 1340px;
  left: -930px;
}
.footer__inner {
  width: 1080px;
  margin: 0 auto;
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
}
.footer__inner.footer__inner--under-layer {
  position: static;
  transform: translateX(0%);
  padding: 67px 0 60px;
}
.footer__company-name {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.footer__company-info-wrapper {
  margin-top: 45px;
  align-items: flex-start;
}
.footer__info-list {
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, max-content);
  column-gap: 60px;
  row-gap: 30px;
}
.footer__info-list-item {
}
.footer__info-list-item + .footer__info-list-item {
}
.footer__info-list-link {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer__contact-wrapper {
}
.footer__contact-block {
}
.footer__contact-block + .footer__contact-block {
  margin-top: 26px;
}
.footer__contact-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer__contact-info {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  font-weight: 500;
}
.footer__contact-info--tel {
  font-family: "Barlow";
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  padding-left: 26px;
}
.footer__contact-info--tel::before {
  position: absolute;
  content: url(../images/icon_footer-tel.svg);
  width: 24px;
  height: 24px;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer__contact-info--mail {
  font-size: 1.8rem;
  padding-left: 28px;
}
.footer__contact-info--mail::before {
  position: absolute;
  content: url(../images/icon_footer-mail.svg);
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer__company-address-block {
  margin-top: 36px;
}
.footer__company-address {
  font-size: 1.2rem;
}
.footer__company-address + .footer__company-address {
  margin-top: 8px;
}
.footer__copyright {
  font-family: "Barlow";
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 25px;
}
